body{
    margin: 0;
    padding: 0;
}
table{
    width: 100%;
    background-color: #ffffff;
}
th {
    border-collapse: collapse;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-family: Montserrat,Arial,sans-serif;
    background: #333;
}
table, td {
    border: 1px solid #1f194c;
    border-collapse: collapse;
    align-items: center;
    text-align: center;
    color: #1f194c;
    font-family: Montserrat,Arial,sans-serif;
}
tr:nth-child(even) {
    background-color: #dddddd;
  }